<%include ../partials/header.ejs%>
<h1>Show page</h1>
<p><%=campground.name%></p>

<p>
    <a class="btn btn-success" href="/campground/<%=campground._id%>/comments/new">Add new Comments</a>
</p>

<% campground.comments.forEach(function(comment){%>
<strong><p><%=comment.author%>-<%=comment.text%></p></strong>
<%})%>

<%include ../partials/footer.ejs%>