<%include ./partials/header.ejs%>
<h1>Sign up</h1>
<form action="/register" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="passport" name="passport" placeholder="passport">
    <button>Submit</button>
</form>
<%include ./partials/footer.ejs%>