
<%include ./partials/header%>
<div class="ui main text container segment">
    <div class="ui huge header">New Blog</div>
    <form class="ui form" action="/blogs" method="POST">
        <div class="filed">
            <label>Title</label>
            <input type="text", name="blog[title]" placehold="title">
        </div>
        <div class="filed">
            <label>Img</label>
            <input type="text", name="blog[img]" placehold="img">
        </div>
        <div class="filed">
            <label>Blog Content</label>
            <textarea name="blog[body]"></textarea>
            
        </div>
        <button class="ui inverted red button">SUBMIT</button>
    </form>
</div>


<%include ./partials/footer%>