<h1>login in</h1>
<form action="/login" method="POST">
    <input type="text" name="username">
    <input type="text" name="passport">
    <button>login in</button>
</form>

<a href="/register">to register</a>
<a href="/login">to login</a>
<a href="/">to logout</a>
